<h2 class="my-heroes-title">My Heroes</h2>
    <kirby-card [hasPadding]="true" themeColor="primary" >

      <kirby-list [items]="heroes" (itemSelect)="onItemSelect($event)"
      [showDivider]="true" class="heroes-list">
        <!-- HEADER-->
        <kirby-list-header *kirbyListHeader>
          <h2 slot="start">Id</h2>
          <h2>Hero name</h2>
        </kirby-list-header>
      
        <!-- BODY -->
        <kirby-item *kirbyListItemTemplate="let hero" routerLink="/detail/{{hero.id}}">
            <kirby-badge themeColor="warning">{{hero.id}}</kirby-badge>
            <label slot="end">
                {{hero.name}}
              <button kirby-button size="sm" attentionLevel="2" (click)="delete(hero)" [isDestructive]="true">
                <kirby-icon name="close"></kirby-icon>
              </button>
            </label>
            
        </kirby-item>
      
        <!-- Footer -->
        <div class="footer" *kirbyListFooter>
          <label for="new-hero" style="padding-left: 10px;">Hero name: </label>
          <input id="new-hero" #heroName />
          <!-- (click) passes input value to add() and then clears the input -->
          <button kirby-button (click)="add(heroName.value); heroName.value=''">Add hero</button>
        </div>
      </kirby-list>
    
    </kirby-card>
    








