<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <kirby-badge themeColor="danger">{{hero.id}}</kirby-badge> {{hero.name}}
    </a>
    <button kirby-button size="sm" (click)="delete(hero)" [isDestructive]="true">X</button>
  </li>
</ul>
<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button kirby-button (click)="add(heroName.value); heroName.value=''">Add hero</button>

</div>





